/*Header*/
.Nav {
    background-color: rgb(24, 25, 31);
    padding: 0px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 900;
    position: fixed; 
    height: 10%;
    width: 100%;
    display: flex;
}


.flex-nav {
    overflow: auto;
    background-color: rgb(24, 25, 31);
    width: 100%;
    margin: 0% 2% 0% 2.5%; /* 0 para el margen superior e inferior, 10px para el margen izquierdo y derecho */
    display: flex;
    justify-content: space-between; /* Utiliza space-between para separar los elementos */
    align-items: center; /* Centra verticalmente los elementos en el contenedor */
}

.flex-nav img{
    max-width: 5.5%;
    max-height: auto;
    position: flex;
    text-align: left;
}


.Titles{
    margin-left: 27%;
    padding: 0;
    text-align: center;
    display: flex;
    font-family: 'Muli',sans-serif;
    font-weight: bold;
}

.Titles ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
}

.Titles ul li{
    margin-top: 2%;
    margin-right: 15%;
    align-items: border ;

}

.Titles ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.Titles ul li a:hover{
    text-decoration: none;
    color: rgb(207, 171, 71);
    font-size: 16px;
}


.Redes{
    margin-left: 0%;
    padding-left: 0;
    text-align: center;
    display: flex;
}

.Redes ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
}

.Redes ul li{
    display: inline-block;
    margin-right: 2%;
}


.Redes ul li:nth-child(4){
    display: inline-block;
    margin-right: 10%;
}



.Redes ul li:nth-child(5){
    display: inline-block;
    margin-right: 10%;
}

.Redes ul li a{
    display: flex;
}

.Redes ul li a img{
    max-width: 70%;
    max-width: auto;
}



.Redes ul li:nth-child(4) a img{
    max-width: 150%;
    max-width: auto;
    margin-right: 2%;
}

.Redes ul li:nth-child(5) a img{
    max-width: 150%;
    max-width: auto;
}

.burger-menu {
    display: none;
    cursor: pointer;
}

.burger-menu div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}


/* Estilos para la navegación en pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .burger-menu {
        display: block;
    }

    .Titles, .Redes {
        display: none;
    }

    .flex-nav{
        width: 100%;
        height: 100%;
    }

    .flex-nav.active .Titles, .flex-nav.active .Redes {
        display: flex;
        flex-direction: column; /* Cambiado a columna */
        width: 100%;
        height: 60%;
        align-items: center;
    }
    .Nav{
        width: 100%;
        height: 20%;
    }
    
    .banner{
        padding-top: 22%;
    }


    .Titles ul li, .Redes ul li {
        margin: 5px 0
        
}

    .Titles ul, .Redes ul {
        flex-direction: column;
    }
}