* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    
}
.body{
    background-color: #14171C;
}
/*Banner*/
.banner {
    padding-top: 5.4%;
    position: relative;
    display: block;

}

.banner img {
    height: 10%;
    width: 100%;

}
/* contenido */
.flex-content {
    display: flex;
    margin-top: 3%;
    flex-direction: column;
    align-items: center;
}

.image-container {
    position: flex;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 740px;
}

.img-arriba {
    width: 100%;
    height: 55%;
    background-image: url(/Imagenes/1920X1080_collected_photos_0024_DSC04237-1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    filter: contrast(100%) brightness(50%);  
}

.filtro {
    background-color: rgba(26, 29, 36, 0); /* Fondo con transparencia */
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    line-height: 1.7em;
    text-align: center;
}



.filtro h3 {
    margin: 0% 20% 0% 20%;
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 25px;
    text-align: justify;
    filter: none;
    justify-content: center;
}

/* Estilos para el h5 */
.filtro h5 {
    color: #d5a265;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.80em;
    letter-spacing: 0.1em;
    justify-self: left;
    top: 10px; /* Ajustado el posicionamiento vertical */
    left: 20px; /* Ajustado el posicionamiento horizontal */
}


.img-abajo {
    width: 100%; /* Ancho de la imagen */
    height: 45%;
    background-image: url(/Imagenes/4b6de9f00d7a732e3d374431e972339f.webp);
    background-size: 100% 150%;
    background-position: center bottom 40%;
    filter: blur(0.6px);
}






.Part2{
    background-color: #1A1D24;
    position: relative;
    display: flex;
    margin-top: 2.5%;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Ajusta el ancho del div según tus necesidades */
    height: 380px; /* Ajusta la altura del div según tus necesidades */

}






.Part2 img{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 50%; /* Ajusta el ancho máximo de la imagen según tus necesidades */

}

.TextPart2{
    background-color: #1a1d244d;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 9%;
    padding-top: 8%;
    width: 100%; /* Ajusta el ancho del div según tus necesidades */
    height: 380px; /* Ajusta la altura del div según tus necesidades */
    
}

.TextPart2 h1, h2, p,h3{
    margin-top: 1.5%;
    margin-left: 54%;
    font-family: 'Muli', sans-serif;

}

.TextPart2  h2, p, h3{
    color: aliceblue;
}
.TextPart2  h1{
    color: #B88D5B;
    font-size: 16px;
}
.TextPart2  h2{
    font-size: 30px;
}
.TextPart2  p{
    font-size: 18px;
}
.TextPart2  h3{
    padding-top: 1%;
    font-size: 14px;
    text-decoration: none;
}


.TextPart2 img{
    width: 5%;
    height: 7%;
    margin-top: 20%;
    margin-left: 66%;
    cursor: pointer;

}




.Part3{
    background-color: rgb(24, 25, 31);
    position: relative;
    display: flex;
    margin-top: 2.5%;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Ajusta el ancho del div según tus necesidades */
    height: 450px; /* Ajusta la altura del div según tus necesidades */
}

.Part3-1{
    background-color: rgb(42, 45, 63);
    position: relative;
    display: flex;
    margin-top: 2.5%;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ajusta el ancho del div según tus necesidades */
    height: 450px; /* Ajusta la altura del div según tus necesidades */
}

.Part3Img{
    width: 100%;
    height: 100%;
    background-image: url(/Imagenes/1920X1080_collected_photos_0006_DSC04294.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

}
.Part3Text{
    width: 50%;
    height: 100%;
    background-color: #5e370762;

    margin-left: 50%;

}







.Contacto{
    background-color: #1A1D24;
    position: relative;
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    width: 88%; /* Ajusta el ancho del div según tus necesidades */
    height: 200px; /* Ajusta la altura del div según tus necesidades */

}

/* button */
.containerbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;  
}

.button {
    position: relative; /* Establecer posición relativa para el botón */
    background-color: #1A1D24;
    color: white;
    border: none;
    padding: 10px 40px 10px 20px; /* Aumentar el padding del lado derecho para dejar espacio a la flecha */
    font-size: 16px;
    border-radius: 0px;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0); 
    transition: background-color 0.3s ease;
    color: #d5a265;
}

.arrow-circle {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-circle span {
    color: #d5a265;
    font-size: 20px;
}