* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    
}
.body{
    background-color: #14171C;
}
/*Banner*/
.banner {
    padding-top: 5.4%;
    position: relative;
    display: block;

}

.banner img {
    height: 10%;
    width: 100%;

}
/* contenido */
.flex-content {
    display: flex;
    margin-top: 3%;
    flex-direction: column;
    align-items: center;
}

.image-container {
    position: flex;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 740px;
}

.Mondongo{
    background-color: #2d2a32ae;
    width: 150%;
    height: 100%;
    padding-top: 5%;
    }

.img-arriba {
    width: 100%;
    height: 49%;
    background-image: url(/Imagenes/1920X1080_collected_photos_0024_DSC04237-1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    /* filter: contrast(100%) brightness(50%);*/
    background-color: rgb(143, 18, 18);

}



.filtro {
    background-color: rgba(43, 43, 162, 0.433); /* Fondo con transparencia */
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    line-height: 1.7em;
    text-align: center;
}


.filtro h3 {
    margin: 0% 20% 0% 20%;
    background-color: transparent;
    padding: 0;
    border: none;
    font-size: 25px;
    text-align: justify;
    filter: none;
    justify-content: center;
}

/* Estilos para el h5 */
.filtro h5 {
    color: #d5a265;
    margin-top: 20px; /* Ajustado el margen superior para alinear verticalmente con respecto a h3 */
    margin-bottom: 20px; /* Ajustado el margen inferior para alinear verticalmente con respecto a h3 */
    margin-left: 20px;
    padding-right: 600px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.80em;
    letter-spacing: 0.1em;
}


.img-abajo {
    width: 100%; /* Ancho de la imagen */
    height: 45%;
    background-image: url(/Imagenes/4b6de9f00d7a732e3d374431e972339f.webp);
    background-size: 100% 150%;
    background-position: center bottom 40%;
    filter: blur(0.6px);
}



.Part2{
    background-color: #1A1D24;
    position: relative;
    display: flex;
    margin-top: 2.5%;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Ajusta el ancho del div según tus necesidades */
    height: 380px; /* Ajusta la altura del div según tus necesidades */

}


.Part2 img{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 50%; /* Ajusta el ancho máximo de la imagen según tus necesidades */

}

.TextPart2{
    background-color: #1a1d244d;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 9%;
    padding-top: 8%;
    width: 100%; /* Ajusta el ancho del div según tus necesidades */
    height: 380px; /* Ajusta la altura del div según tus necesidades */
    
}

.TextPart2 h1, h2, p,h3{
    margin-top: 1.5%;
    margin-left: 54%;
    font-family: 'Muli', sans-serif;

}

.TextPart2  h2, p, h3{
    color: aliceblue;
}
.TextPart2  h1{
    color: #B88D5B;
    font-size: 16px;
}
.TextPart2  h2{
    font-size: 30px;
}
.TextPart2  p{
    font-size: 18px;
}
.TextPart2  h3{
    padding-top: 1%;
    font-size: 14px;
    text-decoration: none;
}


.TextPart2 img{
    width: 5%;
    height: 7%;
    margin-top: 20%;
    margin-left: 66%;
    cursor: pointer;

}




.Part3 {
    background-color: rgb(24, 25, 31);
    position: relative;
    display: flex;
    margin-top: 2.5%;
    align-items: center;
    width: 80%; /* Ajusta el ancho del div según tus necesidades */
    height: 450px; /* Ajusta la altura del div según tus necesidades */
}

.Part3-1 {
    font-size: 1.5em !important;
    background-color: rgb(42, 45, 63);
    position: relative;
    display: flex;
    margin-top: 2.5%;
    align-items: center;
    width: 100%; /* Ajusta el ancho del div según tus necesidades */
    height: 450px; /* Ajusta la altura del div según tus necesidades */
}

.Part3Img {
    width: 100%;
    height: 100%;
    background-image: url(/Imagenes/1920X1080_collected_photos_0006_DSC04294.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.Part3Text {
    font-family: 'Muli', sans-serif;
    width: 50%;
    margin-left: 50%;
    height: 100%;
    background-color: rgba(42, 41, 49, 0.801);
    padding: 20px; /* Ajustar el padding para separar el contenido del borde */
    display: flex; /* Usar flexbox para alinear el contenido */
    justify-content: flex-start; /* Alinear el contenido al principio */
    align-items: center; /* Centrar verticalmente el contenido */
}

.ContPart3Text {
    display: flex;
    flex-direction: column; /* Cambiar a disposición de columna */
    margin: 0% 15% 0% 15%; /* Añadir margen izquierdo para separar del borde */
}

.ContPart3Text h4 {
    color: white;
    margin-bottom: 18px; 
}

.ContPart3Text p {
    color: white;
    font-size: 18px;
    margin: 10px; 
    text-align: justify;
}






.Contacto{
    background-color: #1A1D24;
    position: relative;
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    width: 88%; /* Ajusta el ancho del div según tus necesidades */
    height: 200px; /* Ajusta la altura del div según tus necesidades */
}

.Contacto h1{
    margin-top: 2%;
    margin-bottom: 1%;
    color: aliceblue;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.Contacto input{
    color: aliceblue;
    background-color: #1F232B;
    width: 17%;
    height: 20%;
    border: none;
    margin-top: 1%;
    padding: 15px 20px 15px 20px;
    font-size: 15px;

}

.Contacto a{
    margin-top: 2%;
    width: 8%;
    height: auto;

}
.Contacto a button{

    color: aliceblue;
    background-color: #1F232B;
    border: none;
    padding: 15px 20px 15px 20px;
    margin-bottom: 40%;

}




/* button */

.containerbutton {
    position: relative;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    margin-top: 20px; 
    margin-right: 15%; 
    padding: 30px;
}

.button {
    background-color: rgb(26, 29, 36);
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px 40px; 
    font-size: 15px;
    border-radius: 0px;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease;
    display: flex; 
    align-items: center;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0); 
    transition: background-color 0.3s ease;
    color: #d5a265;
}

.arrow-circle {
    position: relative; /* Cambiado a posición relativa */
    margin-left: 10px; /* Ajusta el margen izquierdo para separar la flecha del texto del botón */
}

.arrow-circle span {
    color: #d5a265;
    font-size: 20px;
}