* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    
}
.body{
    background-color: rgb(24, 25, 31);
}
/*Banner*/
.banner {
    padding-top: 5.4%;
    position: relative;
    display: block;

}

.banner img {
    height: 10%;
    width: 100%;

}
/* contenido */
.flex-content {
    display: flex;
    margin-top: 3%;
    flex-direction: column;
    align-items: center;
}

.image-container {
    position: flex;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height:740px;


}

/*<img src="/Imagenes/1920X1080_collected_photos_0024_DSC04237-1.jpg" alt="Imagen Arriba" class="img-arriba">
<p class="texto-arriba">Texto sobre la imagen</p>
<img src="/Imagenes/4b6de9f00d7a732e3d374431e972339f.webp" alt="Imagen Abajo" class="img-abajo">
*/


.img-arriba {
    width: 100%;
    height: 55%;
    background-image: url(/Imagenes/1920X1080_collected_photos_0024_DSC04237-1.jpg);
    background-size: cover; /* Cambiado a cover para que la imagen cubra todo el contenedor */
    background-position: center;
    position: relative; /* Añadido position relative para que los elementos hijos se posicionen relativos a este contenedor */
}

.filtro {
    filter: contrast(100%) brightness(50%);
    background-color: rgba(26, 29, 36, 0); /* Fondo con transparencia */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    line-height: 1.7em;
    text-align: center;
}

.et_pb_text_inner h3,
.et_pb_text_inner p {
    margin: 0; /* Elimina el margen para evitar la separación alrededor del texto */
    background-color: transparent; /* Establece el fondo del texto como transparente */
    padding: 0; /* Elimina cualquier relleno alrededor del texto */
    border: none; /* Elimina cualquier borde alrededor del texto */
}

.img-abajo {
    width: 100%; /* Ancho de la imagen */
    height: 45%;
    background-image: url(/Imagenes/4b6de9f00d7a732e3d374431e972339f.webp);
    background-size: 100% 150%;
    background-position: center bottom 40%;
    

}

.Part2{
    background-color: aqua;
    position: relative;
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Ajusta el ancho del div según tus necesidades */
    height: 380px; /* Ajusta la altura del div según tus necesidades */

}
.Part2 img{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 50%; /* Ajusta el ancho máximo de la imagen según tus necesidades */

}

.Part3{
    background-color: aqua;
    position: relative;
    display: flex;
    margin-top: 2%;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Ajusta el ancho del div según tus necesidades */
    height: 400px; /* Ajusta la altura del div según tus necesidades */

}

.Contacto{
    background-color: aqua;
    position: relative;
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    align-items: center;
    width: 88%; /* Ajusta el ancho del div según tus necesidades */
    height: 200px; /* Ajusta la altura del div según tus necesidades */

}


