.Footer{
    background-color: aqua;
    position: relative;
    display: flex;
    margin-top: 3%;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ajusta el ancho del div según tus necesidades */
    height: 300px; /* Ajusta la altura del div según tus necesidades */

}